* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  transition: 0.5s ease-in;
  opacity: 100%;
}

#logo {
  width: 100vw;
  height: 20%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 5rem;
  img {
    height: 80%;
    width: auto;
    animation-name: fadein;
    animation-duration: 3s;
  }
}

#slogan {
  width: 100vw;
  height: 10%;
  text-align: center;
  margin-bottom: 3rem;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
  animation-name: shrink;
  animation-duration: 1s;
}

h3 {
  font-size: 1.6rem;
  font-weight: 700;
}

.boton {
  width: 100vw;
  height: 20%;
  text-align: center;
}

#button {
  background-color: rgb(244, 58, 52);
  border: 2.5px solid black;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  padding: 12px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 4px 2px;
  cursor: pointer;
  animation-name: fadein;
  animation-duration: 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shrink {
  from {
    font-size: 4rem;
  }
  to {
    font-size: 2rem;
  }
}

.radiochat {
  width: 100vw;
  height: 100vh;
  opacity: 1;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: -100%;
  transition: 0.5s ease-in;
}

#chat {
  width: 100%;
  height: 81%;
}

.nav {
  position: absolute;
  top: 1.5%;
  left: 1.5rem;
  width: 3rem;
  height: 3rem;
  img {
    width: 90%;
    height: auto;
  }
}

.footer {
  width: 100vw;
  height: 12%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  h3 {
    font-size: 1.2rem;
    font-weight: 400;
  }
}

.wrapper {
  align-items: center;
  display: flex;
  width: 100%;
  height: 7%;
  justify-content: center;
  background-color: rgb(244, 58, 52);
}
.player-controls {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 2rem;
  height: 1em;
  position: relative;
  text-decoration: none;
  width: 1em;
  -webkit-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;

  .audio-label {
    line-height: 1;
    position: absolute;
    right: 1.35em;
    text-align: right;
    text-transform: uppercase;
    top: -0.4em;

    span {
      font-size: 18px;

      small {
        display: block;
        font-size: 0.83em;
      }
    }
  }
  .play,
  .pause {
    display: block;
    background: url("https://www.dropbox.com/s/aukpnwpj8b77tqy/play.svg?raw=1")
      no-repeat 0 0;
    background-size: 100% 100%;
    height: 1em;
    position: absolute;
    width: 1em;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    z-index: 5;

    &::before,
    &::after {
      -webkit-border-radius: 1000px;
      -moz-border-radius: 1000px;
      border-radius: 1000px;
      content: "";
      display: block;
      position: absolute;
      height: 1em;
      right: 0;
      top: 0;
      width: 1em;
      z-index: 0;
    }
  }
  .play::before {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
  }
  .pause {
    background-image: url("https://www.dropbox.com/s/ev272i742j9ugvv/pause.svg?raw=1");
    opacity: 0;
    right: 0;
    top: 0;
  }
  &.playing {
    .play {
      opacity: 0;
    }
    .pause {
      opacity: 1;
      &::before {
        -moz-animation: audio1 1.5s infinite ease-in-out;
        -o-animation: audio1 1.5s infinite ease-in-out;
        -webkit-animation: audio1 1.5s infinite ease-in-out;
        animation: audio1 1.5s infinite ease-in-out;
      }
      &::after {
        -moz-animation: audio2 2.2s infinite ease-in-out;
        -o-animation: audio2 2.2s infinite ease-in-out;
        -webkit-animation: audio2 2.2s infinite ease-in-out;
        animation: audio2 2.2s infinite ease-in-out;
      }
    }
  }
  &:hover {
    transform: scale(1.1);

    .play::before {
      box-shadow: 0 0 12px rgba(255, 238, 125, 0.8);
    }
  }
}

.animate-audio1 {
  -moz-animation: audio1 1.5s infinite ease-in-out;
  -o-animation: audio1 1.5s infinite ease-in-out;
  -webkit-animation: audio1 1.5s infinite ease-in-out;
  animation: audio1 1.5s infinite ease-in-out;
}
@keyframes audio1 {
  0%,
  100% {
    box-shadow: 0 0 0 0.4em rgba(255, 255, 255, 0.4);
  }
  25% {
    box-shadow: 0 0 0 0.15em rgba(255, 255, 255, 0.15);
  }
  50% {
    box-shadow: 0 0 0 0.55em rgba(255, 255, 255, 0.55);
  }
  75% {
    box-shadow: 0 0 0 0.25em rgba(255, 255, 255, 0.25);
  }
}
.animate-audio2 {
  -moz-animation: audio2 2.2s infinite ease-in-out;
  -o-animation: audio2 2.2s infinite ease-in-out;
  -webkit-animation: audio2 2.2s infinite ease-in-out;
  animation: audio2 2.2s infinite ease-in-out;
}
@keyframes audio2 {
  0%,
  100% {
    box-shadow: 0 0 0 0.25em rgba(255, 255, 255, 0.15);
  }
  25% {
    box-shadow: 0 0 0 0.4em rgba(255, 255, 255, 0.3);
  }
  50% {
    box-shadow: 0 0 0 0.15em rgba(255, 255, 255, 0.05);
  }
  75% {
    box-shadow: 0 0 0 0.55em rgba(255, 255, 255, 0.45);
  }
}
