* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

#logo {
  width: 100vw;
  height: 20%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  img {
    height: 80%;
    width: auto;
    animation-name: fadein;
    animation-duration: 3s;
  }
}

#slogan {
  width: 100vw;
  height: 10%;
  text-align: center;
  margin-bottom: 3rem;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
  animation-name: shrink;
  animation-duration: 1s;
}

h3 {
  font-size: 1.6rem;
  font-weight: 700;
}

#button {
  width: 100vw;
  height: 20%;
  text-align: center;
}

.button {
  background-color: rgb(244, 58, 52);
  border: 2.5px solid black;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  padding: 12px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 4px 2px;
  cursor: pointer;
  animation-name: fadein;
  animation-duration: 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shrink {
  from {
    font-size: 4rem;
  }
  to {
    font-size: 2rem;
  }
}
