* {
  margin: 0;
  padding-top: .5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  line-height: 1.8rem;
  scroll-behavior: smooth;
}

.slider {
  margin: 0 50% 0 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  width: 50%;
  height: 100%;
}

.nav-toggle {
  float: right;
  cursor: pointer;
  position: absolute;
  top: 0rem;
  right: 2rem;
}

.mobile-nav {
  background-color: #5a606b;
  font-size: 1.3rem;
  height: 100vh;
  padding: 1rem 0;
  overflow: scroll;
  width: 300px;
  position: fixed;
  top: 0;
  right: -300px;
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
}

li a {
  margin: 0.3rem 1.5rem;
  display: inline-block;
  text-decoration: none;
  color: white;
}

.sub-menu {
  background-color: #e9e9e9;
  display: none;
}

.sub-menu li a {
  margin-left: 2rem;
}

.main {
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}

#avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}

#avatar img {
  width: auto;
  height: 10rem;
}

#projects {
  max-height: 40rem;
  width: 100%;
  margin: auto;
  overflow: hidden;
  padding-top: 3rem;
}

#title {
  width: 100%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2rem;
}

#title p {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 5px;
}

#container {
  padding-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: Center;
      -ms-flex-pack: Center;
          justify-content: Center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85%;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#4b6cb7), to(#182848));
  background: linear-gradient(360deg, #4b6cb7 0%, #182848 100%);
}

#showcase {
  margin: auto;
  height: 350px;
  width: auto;
}

#showcase img {
  border-radius: .5rem;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.45);
          box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.45);
}

.cover {
  width: 100%;
  height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cover p {
  font-size: 1.3rem;
}

.footer {
  width: 100%;
  height: 10rem;
  background-color: #0e0e0e;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer p {
  font-size: 1rem;
  font-weight: 200;
}

.contactMe {
  width: 100%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: -webkit-gradient(linear, left top, right top, from(#FC466B), to(#3F5EFB));
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
}

.contactForm {
  margin: auto;
  border-radius: 10px;
  width: 25%;
  height: 60%;
  background: #ffffff1e;
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

form {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

form label {
  font-weight: 400;
  color: white;
}

form button {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #f700ff2c;
  -webkit-box-shadow: 0 8px 32px 0 #871f795e;
          box-shadow: 0 8px 32px 0 #871f795e;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  color: white;
  position: absolute;
  height: 3rem;
  bottom: 0;
  width: 100%;
  border: 0;
}

form input {
  width: 100%;
}

form textarea {
  width: 100%;
  height: 8rem;
}
/*# sourceMappingURL=styles.css.map */